<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>TODO APP</title>
    </head>
    <body>
        <% if(thisDay === "Saturday" || thisDay==="Sunday") { %>
            <h1 style="color:purple"><%= thisDay %> List</h1>
        <% } else { %>
            <h1 style="color: blue"><%= thisDay %> List</h1>
        <% } %>         
    </body>
</html>